<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/theme-loader') %>
    <%- include('partials/side_menu') %>
    <%- include('partials/calendar') %>
    <%- include('partials/footer') %>
</body>

</html>