<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <%- include('partials/header') %>

</head>

<body>
    <% const currentPage='terapia-fisica' ; %>
        <%- include('partials/theme-loader') %>
            <%- include('partials/side_menu', { currentPage: currentPage }) %>

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper full-calender">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Terapia Física</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="page-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <button id="btncrearcita" onclick="mostrar_formulario(true)"
                                                class="btn btn-warning">Gestionar citas</button>
                                        </div>
                                        <div id="calendario" class="card-block">
                                            <div class="row">

                                                <div class="">
                                                    <div id='calendar-fisica'></div>
                                                </div>
                                            </div>
                                        </div>

                                        <%- include('partials/formulario') %>

                                        <div id="botones_control" class="card-footer">
                                            <button onclick="crear_cita()"
                                                class="col-sm-2 btn btn-primary">Guardar</button>
                                            <button onclick="limpiar()" class="col-sm-2 btn btn-secondary">Limpiar</button>
                                            <button onclick="mostrar_formulario(false)"
                                                class="col-sm-2 btn btn-warning">Regresar</button>
                                        </div>

                                            <div class="panel-body table-responsive" id="paneltabla" name="paneltabla">
                                                <div class="card">
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <table id="tablaempleados" name="tablaempleados"
                                                            class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Opciones</th>
                                                                    <th>Paciente</th>
                                                                    <th>DNI</th>
                                                                    <th>Fecha cita</th>
                                                                    <th>Teléfono</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Opciones</th>
                                                                    <th>Paciente</th>
                                                                    <th>DNI</th>
                                                                    <th>Fecha cita</th>
                                                                    <th>Teléfono</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                            
                                            </form>
                                    </div>
                                    
                                </div>
                                

                                <div class="page-error">
                                    <div class="card text-center">
                                        <div class="card-block">
                                            <div class="m-t-10">
                                                <i class="icofont icofont-warning text-white bg-c-yellow"></i>
                                                <h4 class="f-w-600 m-t-25">Not supported</h4>
                                                <p class="text-muted m-b-0">Full Calender not supported in this
                                                    device</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Main-body end -->

                        <div id="styleSelector">
                        </div>
                    </div>
                </div>

                <%- include('partials/footer') %>
                    <script src="/files/controllers/terapia-fisica.js"></script>
                    <script src="/files/controllers/recibir_fecha_clickeada.js"></script>
                    <!-- custom js -->
                    <script type="text/javascript" src="/files/controllers/calendar-fisica.js"></script>
</body>

</html>